.ui.page.grid
  .ui.one.column.middle.aligned.relaxed.fitted.stackable.grid
    .column
      .center.aligned
        %h2 Edit #{resource_name.to_s.humanize}
      - if current_user.identities == []
        .ui.form.segment
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            .field
              = f.label :name
              .ui.left.icon.input
                = f.text_field :name, autofocus: true
                %i.mail.icon
            .field
              = f.label :email
              .ui.left.icon.input
                = f.email_field :email
                %i.mail.icon
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .field
              = f.label :password
              %i (leave blank if you don't want to change it)
              .ui.left.icon.input
                = f.password_field :password, autocomplete: "off"
                %i.lock.icon            
            .field
              = f.label :password_confirmation
              .ui.left.icon.input
                = f.password_field :password_confirmation, autocomplete: "off"
                %i.lock.icon
            .field
              = f.label :current_password
              %i (we need your current password to confirm your changes)
              .ui.left.icon.input
                = f.password_field :current_password, autocomplete: "off"
                %i.lock.icon
            .field
              %br/
              = f.submit "Update", class: "ui left button blue submit"
      - if current_user.email_verified?       
        - if current_user.role == "public" || current_user.role == "admin"
          %h3 Upgrade my Account
          = link_to "Upgrade with stripe", new_charge_path, class: "ui left button green submit"
        - elsif current_user.role == "premium" || current_user.role == "admin"
          %h3 Downgrade my Account
          = link_to "Downgrade", update_role_path, data: { confirm: "Are you sure?" }, class: "ui left button orange submit", method: :put
        %h3 Cancel my account
        %p
          Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui left button orange submit"}
        = link_to "Back", :back
