.ui.grid
  .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
    .column
      .center.aligned
        %h2 Change your password
      .ui.form.segment
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          .field
            = f.label :password, "New password"
            ui.left.icon.input
              = f.password_field :password, autofocus: true, autocomplete: "off"
              %i.lock.icon
          .field
            = f.label :password_confirmation, "Confirm new password"
            ui.left.icon.input
              = f.password_field :password_confirmation, autocomplete: "off"
              %i.lock.icon
          .field
            %br/
            = f.submit "Change my password", class: "ui left icon button blue submit"

