%div
  .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
    .column
      .center.aligned
        %h2 Forgot your password?
      .ui.form.segment
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            .ui.left.icon.input
              = f.email_field :email, autofocus: true
              %i.mail.icon
          .field
            %br/
            = f.submit "Send me reset password instructions", class: " ui left icon button blue submit"

