.ui.form.segment
  = form_for wiki do |f|
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :description
      = f.text_field :description
    .ui.two.column.centered.grid
      .column
        .field
          = f.label :body
          = f.text_area :body
        -# if can_mark_private? 
          .ui.checkbox
            = f.check_box :private
            = f.label :private
      .column
        .field
          = label_tag "Preview"
          %div#preview
     
      