.ui.page.grid
  .segment
    .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
      .column
        %h2.ui.left.floated.header
          Public Wikis
        .ui.clearing.divider
        %table.ui.table
          %thead
            %tr
              %th Title
              %th Description
              %th Created
              %th Edit
              %th Delete
          %tbody
            - @user_public_wikis.each do |x|
              %tr
                %td= link_to x.title, wiki_path(x)
                %td= x.description
                %td= x.created_at
                %td= link_to "Edit", x
                %td= link_to "Delete", x , method: :delete, data: { confirm: "Are you sure want to delete this Wiki."}      
      .ui.vertical.divider
        &
      .center.aligned.column
        %h2.ui.left.floated.header
          Private Wikis
        .ui.clearing.divider
        %table.ui.table
          %thead
            %tr
              %th Title
              %th Description
              %th Created
              %th Edit
              %th Delete
          %tbody
            - @user_private_wikis.each do |x|
              %tr
                %td= link_to x.title, wiki_path(x)
                %td= x.description
                %td= x.created_at
                %td= link_to "Edit", x
                %td= link_to "Delete", x , method: :delete, data: { confirm: "Are you sure want to delete this Wiki."}      





    












