.ui.page.grid
  .ui.column.middle.aligned.relaxed.fitted.stackable.grid
    .center.aligned
      %h2 
        Create your new wiki.
    .ui.form.segment
      - if current_user.role == "public"
        = form_for @user_public_wiki do |f|
          .field
            = f.label :title
            = f.text_field :title
          .field
            = f.label :description
            = f.text_field :description
          .field
            = f.label :body
            = f.text_area :body
          .field
            = f.submit "Create", class: "ui button blue submit"
      - else
        = form_for @user_private_wiki do |f|
          .field
            = f.label :title
            = f.text_field :title
          .field
            = f.label :description
            = f.text_field :description
          .field
            = f.label :body
            = f.text_area :body
          .field
            = f.submit "Create", class: "ui button blue submit"


