.ui.page.grid
  .ui.column.middle.aligned.relaxed.fitted.stackable.grid
    .center.aligned
      %br/
      %h1.ui.header 
        Title: 
        = markdown_to_html @wiki.title     
    .ui.form.segment
      .field
        %h3.ui.header
          Description: 
          = markdown_to_html @wiki.description
      .field
        %h4
          Contents:
        %p
        .box-shadow
          = markdown_to_html @wiki.body
      .segment
        %br/
        = link_to "Edit", edit_wiki_path(@wiki), class: "ui yellow button"
    - if current_user.role == "premium" || current_user.role == "admin" 
      .segment
        %br/
        %h2.ui.left.floated.header
          Collaborate with premium Users
        .ui.clearing.divider
        %table.ui.table
          %thead
            %tr
              %th Name
              %th Email
              %th Collaborate
          %tbody
            - @users.each do |user|
              %tr
                %td= user.name
                %td= user.email
                %td
                  = form_for [@wiki, @wiki.collaborators.build] do |f|
                    = f.hidden_field :user_id, value: user.id
                    = f.submit "Share", class: "ui blue button " 
          
          
            








