.ui.page.grid
  .ui.column.middle.aligned.relaxed.fitted.stackable.grid
    .center.aligned
      %br/
      %h1.ui.header 
        Title: 
        = markdown_to_html @wiki.title     
    .ui.form.segment
      .field
        %h3.ui.header
          Description: 
          = markdown_to_html @wiki.description
      .field
        %h4
          Contents:
        %p
        .box-shadow
          = markdown_to_html @wiki.body
      .segment
        %br/
        = link_to "Edit", edit_wiki_path(@wiki), class: "ui yellow button"
      .segment  
        %br/
        = link_to "Share", "#", class: "ui blue button"
      .segment
        - @users.each do |user|
          = user.name
          = form_for [@wiki, @wiki.collaborators.build] do |f|
            = f.hidden_field :user_id, value: user.id
            = f.submit "Share", class: "ui blue button " 








