.ui.grid
  .ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
    .column
      .center.aligned
        %h2 Log in
      .ui.form.segment
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            .ui.left.icon.input
              = f.email_field :email, autofocus: true
              %i.mail.icon
          .field
            = f.label :password
            .ui.left.icon.input
              = f.password_field :password, autocomplete: "off"
              %i.lock.icon
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
            %b   
              = f.label :remember_me       
          .field
            %br/
            = f.submit "Log in", class: " ui left icon button blue submit"
