!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blocipedia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag  '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/solarized_dark.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    = render "partials/nav"
    .segment
      = render "partials/flash"
    .segment
    = yield
    .row
      .column
        .ui.divider


  
  